.stopwatch {
  text-align: center;
  margin-top: 50px;
  background: linear-gradient(135deg, #b6fbff 0%, #83a4d4 100%);
  border-radius: 20px;
  padding: 30px;
}


.display {
  font-size: 4rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 30px;
  color: #fff;
  animation: scaleIn 0.5s ease;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 20px;
}

button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #5190b3;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #4b9dc0;
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
